/* TODO: Add some coordinated colors to make the blog more distinguished:
         Use an accent color for all links, and remove their underline. */

body {
  line-height: 1.5;
  font-size: 100%;
  color: #180038;  /* changed color */
  background-color: #dde0e0; /* set background color */
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #61011b; /* changed color */
}

a:hover, a:focus {
  color: #ec4d56; /* changed hover color */
}

a:visited {
}
